body {
    background-color: aqua;
    color: rgb(12, 12, 112);
}
h1 {
text-align: center;
background-color: rgb(54, 149, 212);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: bold;
padding: 67px;
margin: 42pt;
border: 13pt solid green;
}
h2 {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   width: 150px;
    padding: 15pt;
    margin: 15pt;
    border-left: 8px solid black;
}
p{
font-family: 'Courier New', Courier, monospace;
padding: 30px;
margin: 30px;
border-left: 15px solid red;
}
a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 7px;
    margin: 5px;
    border: 7px solid orange;
}
a:hover {
    color: rgb(255, 255, 255);
}
li {
    font-style: lighter;
    padding: 15px;
    margin: 14pt;
    border-left: 6px groove blue;
    border-top: 6px groove blue;
    border-right: 6px groove rgb(13, 13, 67);
    border-bottom: 6px groove rgb(13, 13, 67);
}
img {
    width: 150px;
    padding: 15pt;
    margin: 15pt;
    border: 15px dotted black;
}